*{
  font-family:sans-serif;
  font-size:105%;
}
body{
  text-align:center;
}
.text{
  margin-top:2%;
  resize:none;
  width:50%;
  height:50%;
}
.name{
  width:50%;
}
.bdr{
  border:1px solid gray;
  transition:500ms;
}
.bdr:focus{
  box-shadow:0px 0px 5px blue;
  outline:none;
}