*{
  font-family: "Noto Sans JP" , sans-serif;
  font-weight: lighter;
}
body{
  margin: 5%;
  user-select: none;
  overflow-x: hidden;
}
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-thumb {
  background: springgreen;
  border-radius: 100px;
}
*::-webkit-scrollbar-track {
  background: whitesmoke;
}
a{
  color: blue;
  text-decoration: none;
  transition: 100ms;
}
a:hover{
  animation: begin 0.3s;
  color: springgreen;
}
.center{
  text-align: center;
  margin: 0;
}
.side{
  border: none;
  display: inline-block;
  transition: 100ms;
  cursor: pointer;
}
.side:hover{
  animation: begin 0.3s;
  color: springgreen;
}
@keyframes begin{
  50%{
    transform: scale(120%);
  }
}