@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
*{
  font-family:"Roboto Mono";
  color:whitesmoke;
}
body{
  background-color:midnightblue;
  text-align:center;
  background-color:#111111;
  padding:10%;
}
.bot,.boty{
  text-align:center;
  padding:1%;
  border-radius:30px;
  margin:1%;
  outline:none;
  border:2px solid royalblue;
  font-size:110%;
  background-color:transparent;
  transition:300ms;
  width:15%;
  cursor:pointer;
}
.bot:focus,.boty:hover{
  border-color:springgreen;
  width:20%;
}
.boty:hover{
  background-color:springgreen;
}